<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
 <head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <meta charset="utf-8">
     <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
     <title></title>
  </head>
  <body>
    <div class=" container " align = 'center'>
      <div class="jumbotron">
         <h1 class="display-4"> Welcome To News Portal </h1>
         <p class="lead">News Updates </p>
         <hr class="my-4">
         <p>latest Updates On Carona</p>
         <a class="btn btn-primary btn-lg" href="/movies" role="button">movies information</a>
         <a class="btn btn-primary btn-lg" href="/sports" role="button">sports information</a>
         <a class="btn btn-primary btn-lg" href="/politics" role="button">politics information</a>
     </div>
  </div>
  </body>
</html>
